[
  {
    "environment": [
      {
        "name": "SERVICE_NAME",
        "value": "{{service_name}}"
      },
      {
        "name": "SERVICE_TAGS",
        "value": "back"
      }
    ],
    "name": "{{environment}}-back",
    "image": "quay.io/wacul/ai-analyst-back:{{environment}}",
    "logConfiguration": {
      "logDriver": "fluentd",
      "options": {
        "fluentd-address": "localhost:24224",
        "fluentd-tag": "docker.{{environment}}.back.{% raw %}{{.Name}}{% endraw %}"
      }
    },
    "cpu": 10,
    "portMappings": [
      {
        "hostPort": 0,
        "containerPort": 8000,
        "protocol": "tcp"
      }
    ],
    "memory": 32,
    "entryPoint": [
      "/enduser_server"
    ],
    "command": [
      "-c",
      "{{environment}}.json"
    ],
    "essential": true
  }
]
